/* Forking */
.improve-article {
    margin-top: 7.5px;
    font-size: 14px;
    font-style: italic;
}

.improve-article-wrapper {
    padding-top: 20px;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Sidebar Media Buttons */
.social-buttons {
  padding-left: 25px;
}

.mediabutton-1, .mediabutton-2, .mediabutton-3 {
  margin-top: 10px;
  font-size: 30px;
}

.mediabutton-1:hover, .mediabutton-2:hover, .mediabutton-3:hover {
  text-decoration: none;
}

.mediabutton-1 {
    position: relative;
    left: 35px;
}

.mediabutton-2 {
    position: relative;
    left: 70px;
}

.mediabutton-3 {
    position: relative;
    left: 110px;
}

.inline-widget {
    display: inline-block;
    margin-right: 14px;
}

.reading-time {
    margin-left: 10px;
    margin-right: 10px;
}
