/* Forking */
.improve-article { margin-top: 7.5px; font-size: 14px; font-style: italic; }
.improve-article-wrapper { padding-top: 20px; border-top: 1px dotted rgba(0, 0, 0, 0.2); text-align: center; }